:root {
  /* Base Size */
  --font-size-base: 1rem; /* 16px */

  /* Minor Third Type Scale (1.2) */
  --font-size-xxs: calc(var(--font-size-base) / 1.2 / 1.2); /* ~11.1px */
  --font-size-xs: calc(var(--font-size-base) / 1.2); /* ~13.3px */
  --font-size-sm: var(--font-size-base); /* 16px */
  --font-size-md: calc(var(--font-size-base) * 1.2); /* 19.2px */
  --font-size-lg: calc(var(--font-size-base) * 1.44); /* 23.0px */
  --font-size-xl: calc(var(--font-size-base) * 1.728); /* 27.6px */
  --font-size-2xl: calc(var(--font-size-base) * 2.074); /* 33.2px */
  --font-size-3xl: calc(var(--font-size-base) * 2.488); /* 39.8px */

  --color-primary-100: oklch(97.3% 0.071 103.193);
  --color-primary-300: oklch(90.5% 0.182 98.111);
  --color-primary-400: oklch(85.2% 0.199 91.936);
  --color-primary-500: oklch(79.5% 0.184 86.047);

  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);

  --color-gray-200: oklch(92.9% 0.013 255.508);
  --color-gray-100: oklch(97% 0.001 106.424);
  --color-gray-200: oklch(92.3% 0.003 48.717);
  --color-gray-300: oklch(86.9% 0.005 56.366);
  --color-gray-400: oklch(70.9% 0.01 56.259);
  --color-gray-500: oklch(55.3% 0.013 58.071);
  --color-gray-600: oklch(44.4% 0.011 73.639);
  --color-gray-700: oklch(37.4% 0.01 67.558);
  --color-gray-800: oklch(26.8% 0.007 34.298);

  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-100: oklch(93.6% 0.032 17.717);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-700: oklch(50.5% 0.213 27.518);

  --color-green-50: oklch(98.2% 0.018 155.826);
  --color-green-500: oklch(72.3% 0.219 149.579);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto Mono', sans-serif;
}

.input {
  border-radius: 1.5rem;
  padding: 0.625rem 1rem;
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--color-gray-700);
  outline: none;
  font-family: 'Roboto Mono', sans-serif;
}
