.appLayout {
  position: relative;
  background-color: var(--color-gray-100);
  height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
}

.appLayoutMainContent {
  grid-row: 2;
  overflow: scroll;
}
