.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-400);
  border-bottom: 1px solid var(--color-gray-200);
  font-size: var(--font-size-sm);
  padding: 0.75em 1em;
  color: var(--color-gray-700);
  grid-row: 1;
}

.headerLink {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (width >= 40em) {
  .header {
    padding: 0.75em 1.5rem;
  }
}
