.menuItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 1rem;
  padding: 0.5rem 0;
  color: var(--color-gray-700);
  font-size: var(--font-size-sm);
}

.menuItemImage {
  width: calc(0.25rem * 24);
  height: calc(0.25rem * 24);
  object-fit: cover;
  grid-row: 1 / 3;
}

.menuItemInfo {
  text-transform: capitalize;
}

.menuItemName {
  font-weight: 500;
  font-size: inherit;
}

.menuItemIngredients {
  font-style: italic;
  color: var(--color-gray-500);
  font-size: var(--font-size-xs);
}

.menuItemSoldOut {
  color: var(--color-gray-500);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  font-weight: 700;
}

.menuItemPriceAndActions {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: var(--font-size-sm);
}

.menuItemActions {
  display: flex;
  gap: 1rem;
}
