.timer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-gray-200);
  padding: 1.5rem 1rem;
  align-items: center;
}

.timeLeft {
  font-size: var(--font-size-sm);
  font-weight: 700;
}

.eta {
  font-size: var(--font-size-xs);
}
