.order {
  max-width: calc(48 * 16px);
  padding: 1.5rem 0.5rem;
  color: var(--color-gray-700);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.orderHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orderId {
  font-size: var(--font-size-lg);
}

.orderSideInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
}

.priorityInfo {
  background-color: var(--color-red-500);
  color: var(--color-red-50);
  padding: 0.25rem 0.75rem;
  border-radius: calc(infinity * 1px);
}

.orderStatusInfo {
  background-color: var(--color-green-500);
  color: var(--color-green-50);
  padding: 0.25rem 0.75rem;
  border-radius: calc(infinity * 1px);
}

.orderItemContainer {
  list-style: none;
}

.orderItemContainer > * {
  border-bottom: 1px solid var(--color-gray-200);
}

.prices {
  background-color: var(--color-gray-200);
  padding: 1.5rem;
  font-size: var(--font-size-xs);
}

.individualPrice {
  color: var(--color-gray-600);
  margin-bottom: 0.5rem;
}

.totalPrice {
  color: var(--color-gray-700);
  font-weight: 700;
  font-size: var(--font-size-sm);
}

@media (width >= 40em) {
  .orderHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
