.search {
  border: 0;
  border-radius: 1.5rem;
  padding: 0.625rem 1rem;
  background-color: var(--color-primary-100);
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--color-gray-700);
  transition: width 0.5s;
  width: 10em;
  outline: none;
}

.search:focus {
  outline: none;
  outline: 1px solid var(--color-primary-500);
}
@media (width >= 40em) {
  .search {
    width: 15em;
  }
  .search:focus {
    width: 18em;
  }
}
