.item {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--color-gray-200);
}

.itemQuantityAndName {
  font-weight: 400;
}

.itemPriceAndActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.itemPrice {
  font-size: var(--font-size-xs);
  font-weight: 700;
}
