.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
  color: var(--color-gray-700);
}

.formInput {
  width: 60%;
  font-size: var(--font-size-sm);
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-700);
  border-radius: 2em;
  padding: 0.6rem 1.2rem;
  background-color: #fff;
  outline: transparent;
  transition: outline 0.15s ease-in-out;
  margin-bottom: 0.8rem;
}

.formInput:focus {
  outline: 1px solid var(--color-primary-500);
}
